@font-face
{
    font-family:'Raleway',ExtraBold, sans-serif;
    src: url(police/Raleway.ttf)
}



/*generique pout toute la page*/

body
{
    font-family: Raleway, Arial;
}

#bloc_page
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    width: 1200px;
}





h1
{
    font-size: 20px;
}

h2
{
    font-size: 16px;
    font-weight: bold;
}

h3
{
    font-size: 14px;
    font-weight: bold;
}

a
{    
    color: black;
    text-decoration:none;
}




/*header*/


#mobile
{
    display: none;
}

#logo
{
    margin-left: 35px;
}

#destock
{
    background-color: white;
    box-shadow: 0 8px 8px #ededed;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav
{
    margin-top: 15px;
}

nav a
{
    padding: 32px 35px 36px 35px;
    transition: background-color 200ms;
}


nav a:focus, nav a:hover
{
    background-color: #DEEBFF ;
    transition: background-color 200ms;
}


a[href="#anchor_logements"]
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

a[href="#anchor_activités"]
{
    color: black;
}

#inscription
{
    color: #0065FC;
    font-weight: bold;
}

.anchor
{
    display: block;
    height: 105px;
    margin-top: -105px;
    visibility: hidden;
}






/*generique pour la partie de recherche*/


#selection p
{
    font-size: 14px;
}

#selection
{
    line-height: 80%;
}







/*bar de recherche*/


#recherche_ville
{
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    display: flex;
    font-family: Raleway;
    height: 40px;
    margin-top: 20px;
    overflow: hidden;
    width: 365px;
}

#localisation
{
    background-color: #F2F2F2;
    padding: 10px 15px;
}

#bar_de_recherche
{
    border:none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 12px;
    width: 205px;
}

#recherche
{
    background-color: #0065FC;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
}

#recherche:active
{
    background-color: #0065fcc0;
}




/*filtres de recherche*/


#filtres
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 800px;
}

.filtre
{
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
    display: flex;
    height: 40px;
    padding-right: 30px;
    transition:  background-color 400ms;
}

.filtre img
{
    background-color: #DEEBFF;
    border:5px #ffffff00 solid;
    border-radius: 20px;
    margin-right: 15px;
    padding: 5px 10px;
}

img[alt="economique"]
{
    padding: 0 8px;
}

.filtre:hover, .filtre:focus
{
    background-color: #DEEBFF;
    transition:  background-color 400ms;
}

.filtre h2 
{
    white-space: nowrap;
}




/*petite info*/


#info
{
    display: flex;
    padding: 10px 0px 20px 0px;
}

#info img
{
    margin: 8px 10px 15px 0px;
}





/*logement*/


#logements
{
    display: flex;
}

#logements p
{
    font-size: 12px;
}

#logements h1
{
    padding-bottom: 10px;
}

.appartements a
{
    border: 5px white solid;
    border-radius: 20px;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.25);
    transition: transform 200ms;
}

.appartements a:hover, .appartements a:focus
{
    transform: scale(1.05);
    transition: transform 200ms;
}




#hebergements
{
    border-radius: 20px;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 25px 0 40px 30px;
    width: 750px;
}



#hebergements .appartement a
{
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content:flex-end;
    margin-bottom: 30px;
    margin-right: 25px;
    width: 210px;
}
#hebergements .appartement a .note,#hebergements .appartement a p,#hebergements .appartement a h3
{
    background-color: white;
    margin: 0;
    padding: 5px 0 0 12px;
}

#plus
{
    display: flex;
    font-weight: bold;
    padding-top: 10px;
}




.appartement
{
    display: flex;
    flex-wrap: wrap;
}





#populaires
{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    padding: 25px 0 0 30px;
}

#populaires .appartement a
{
    background-color: white;
    display: flex;
    height: 120px;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 300px;
}

#titre_populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

#populaires .appartement a .note
{
    background-color: white;
    margin: 0 0 0 130px;
    overflow: hidden;
    padding: 45px 0 0 12px;
}

#populaires .appartement a h3,#populaires .appartement a p
{
    background-color: white;
    margin: 0 0 0 130px;
    padding: 5px 0 0 12px;
}






/*activites*/


#activites
{
    margin-top: 60px;
}

#activites h1
{
    padding-bottom: 5px;
}

#activite a h3
{
    background-color: white;
    bottom: -15px;
    padding: 15px 0 15px 15px;
    position: absolute;
    white-space: nowrap;
    width: 235px;
}

#activite
{
    display : flex;
    flex-direction : column;
    flex-wrap : wrap;
    height : 500px;
    justify-content : space-between;
    width : 1245px;
}

#activite a
{
    border-radius: 20px;
    box-shadow: 0px 0px 13px -5px #000000;
    overflow: hidden;
    position: relative;
    transition: 200ms;
    width : 250px;
}

#activite a:hover, #activite a:focus
{
    transform: scale(1.05);
    transition: transform 200ms;
}

#vieux_port, #calanques
{
    height : 500px;
}
#fort_pomegues
{
    height : 300px;
}
#frioul
{
    height : 180px;
}

#ndg, #parc_longchamp
{
    height : 235px;
}


/*pied de page*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 30px 0;
    width: 100%;
}

#menu_fin
{
    display: flex;
    justify-content: space-around;
    width: 1200px;
}

.sous_menu_fin
{
    display: flex;
    flex-direction: column;
}

footer h2, footer a
{
    padding: 7px 0;
}

footer a:hover, footer a:focus
{
    color: #0065FC;
    transform: scale(1.05);
    transition: transform, color 200ms;
}





/*gestion des images*/


#filtres img
{
	height: auto;
	max-width: 15px;
}

#info img
{
	height: 20px;    
    max-width: 20px;
    margin-top: 8px;
}

.note img
{
	height: auto;
	max-width: 13px;
}

#logements img[alt="populaire"]
{
    margin-top: 15px;
    max-height: 20px;
	max-width: 20px;
}

input[id="localisation"]
{
	height: auto;
    max-width: 10px;
}

input[id="loupe"]
{
    height: auto;
    max-width: 10px;
    visibility: hidden;
    position: fixed;
}

#cannebière
{
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#port
{
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#mouettes
{
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#mer
{
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position: 0 150%;
    background-repeat: no-repeat;
    background-size: cover;
}

#panier
{
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position: 0 -20%;
    background-repeat: no-repeat;
    background-size: contain;
}

#amina
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#soleil_matin
{
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#coeur_eau
{
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#bleu_blanc
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#vieux_port
{
    background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#fort_pomegues
{
    background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#frioul
{
    background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#calanques
{
    background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#ndg
{
    background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

#parc_longchamp
{
    background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-position: 80% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}


/*media querys*/
@media (max-width: 1440px)
{
    #bloc_page
    {
        width: 780px;
    }

    #filtres
    {
        width: 780px;
        flex-wrap: wrap;
    }

    .filtre
    {
        margin-bottom: 10px;
    }

    #logements
    {
        flex-direction: column;
        width: 780px;
    }

    #hebergements
    {
        margin-bottom: 30px;
    }

    #populaires
    {
    margin-left: 0px;
    width: 750px;
    height: 250px;
    }
    
    #populaires .appartements
    {
        
        display: flex;
        flex-direction: row;
    }


    #bleu_blanc
    {
        visibility:hidden;
        position:fixed;
    }

    #activites
    {
        width: 780px;
    }
    
    #activite
    {
        width: 780px;
        height: 1200px;
    }

    #activite a
    {
        margin: auto;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 850px)
{
    footer
    {
        margin-top: 35px;
    }
    #menu_fin
    {
        flex-direction: column;
    }
    .sous_menu_fin
    {
        padding-left: 30px;
        padding-bottom: 20px;
    }
    footer a:hover, footer a:focus
    {
        transform: none;
    }

    #activites
    {
        width: 100%;
        margin-top: 15px;
    }

    #activite
    {
        width: auto;
        height: auto;
    }

    #activite a
    {
        height: 150px;
        width: 300px;
    }
    #activites h1
    {
        margin: auto;
        margin-bottom: 20px;
        width: 300px;
    }

    #activite a h3
    {
        width: 300px;
    }

    #populaires
    {
    margin-left: 0px;
    width: auto;
    height: 570px;
    justify-content: center;
    padding: 0;
    border-radius: 0%;
    }

    #titre_populaire
    {
        width: 300px;
        margin: auto;
        padding: 0;
    }

    #populaires .appartements
    {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #bleu_blanc
    {
        visibility:visible;
        position: initial;
    }

    #populaires .appartement 
    {
        width: 300px;
        margin: auto;
    }

    #populaires .appartement a
    {
        margin-right: 0;
    }

    #logements
    {
        width: auto;
        flex-direction: column-reverse;
    }

    #hebergements
    {
        width: 300px;
        margin: auto;
        margin-bottom: 25px;
        padding: 0;
        background-color: initial;
    }

    #hebergements .appartement a
    {
        width: 300px;
        padding: 0;
        margin: auto;
        margin-bottom: 25px;
    }

    #cannebière, #port, #mouettes
    {
        background-size: cover;
    }

    #selection
    {
    width: 300px;
    margin: auto;
    }

    #filtres
    {
        width: 300px;
    }

    #nom
    {
        width: 300px;
    }

    #recherche_ville
    {
        width: 300px;
        margin: auto;
    }

    #recherche
    {
        visibility: hidden;
        position: fixed;
    }

    #loupe
    {
        visibility: visible;
        position: initial;
        padding: 10px 15px;
        background-color: #0065FC;
        border-radius: 15px;
    }

    #bar_de_recherche
    {
        width: 220px;
    }

    #intitule h1
    {
        line-height:25px;
    }

    #bloc_page
    {
        width: auto;
        margin-top: 30px;
    }

    #destock
    {
        display: none;
    }

    #mobile
    {
        display: flex;
        justify-content: center;
    }

    #menu
    {
        display: grid;
        width: 300px;
    }

    #menu a
    {
        display: flex;
    }

    a[href="Reservia.html"]
    {
        grid-column: 1;
        grid-row: 1;
        padding-bottom: 25px;
    }

    #inscription_mobile
    {
        justify-content:flex-end ;
        margin-top: 15px;
        grid-column: 2;
        grid-row: 1;
        font-weight: bold;
        color: #0065FC;
    }

    a[href="#anchor_logements"]
    {
        justify-content: center;
        grid-column: 1;
        grid-row: 2;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
        color: #0065FC;
    }

    a[href="#anchor_activités"]
    {
        justify-content: center;
        grid-column: 2;
        grid-row: 2;
        padding-bottom: 20px;
    }
}